.filters {
	position: relative;
	background-color: #fff;
	height: 70px;
	width: 100%;
	border: 1px #ddd solid;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
}

button {
	position: absolute;
	right: 30px;
	top: 50%;
	transform: translateY(-50%);
	background-color: #ff5a5f;
	color: #fff;
	height: 48px;
	width: 20%;
	border: none;
	border-radius: 4px;
}

button:hover {
	opacity: 90%;
}
